{
  "endOfLine": "auto",
  "printWidth": 100,
  "singleQuote": true,

  "plugins": ["@trivago/prettier-plugin-sort-imports"],

  "importOrder": ["^node:", "<THIRD_PARTY_MODULES>", "^\\."],
  "importOrderCaseInsensitive": true,
  "importOrderSortSpecifiers": true
}
